{% extends "base.html" %} 
{% load humanize %}
{% block title %} Cars {% endblock title %} 
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-12 col-lg-2">
			{% include "car/brand_list.html" %}
		</div>
		<div class="col-12 col-lg-10">
			<div class="row">
				<!-- Showing Message if no task exists -->
				{% if car_list is None or car_list|length == 0 %}
				<div class="d-flex flex-column align-items-center">
					<p class="fs-6 fw-light text-center">No Car added, yet</p>
					<a class="btn btn-outline-primary btn-sm w-25" href="{% url "car:add_car_form" %}">Add a Car</a>
				</div>
				{% endif %}
				<!-- END of Showing Message if no task exists -->

				<!-- Showing Car count if filtered -->
				{% if is_filtered is True %}
				<p class="fw-bold">Found Results : {{ car_list|length }}</p>
				{% endif %}

				<!-- Looping through Objects -->
				<!-- Rendering Cards -->
				{% for object in car_list %}
				<div class="col-12 col-md-6 col-lg-4">
					<div class="card h-100">
						<img class="card-img-top" src="{{ object.car_image.url }}" alt="{{ object.car_model }} {{ object.brand.brand_name }}">
						<div class="card-body d-flex flex-column justify-content-between">
							<h5 class="card-title">{{ object.brand.brand_name }} | {{ object.car_model }}</h5>
							<h6 class="card-subtitle mb-2 text-body-secondary">{{ object.createdAt|timesince }} ago</h6>
							<p class="card-text mt-2">{{ object.description }}</p>
							<p class="card-text mt-2">{{ object.quantity }}</p>
							<p class="card-text mt-2">{{ object.price }}</p>
						</div>
					</div>
				</div>
				{% endfor %}
				<!-- END of Looping through Objects -->
				<!-- END of Rendering Cards -->

			</div>

		</div>
	</div>

</div>
{% endblock content %}

