<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarTogglerDemo01"
      aria-controls="navbarTogglerDemo01"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand" href="/">Car Sales</a>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'car:add_car_form' %}">Add Car</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'car:add_brand_form' %}"
            >Add Brand</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'car:car_list' %}">Show Cars</a>
        </li>
      </ul>
      <ul class="navbar-nav m-auto">
		{% if request.user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url "order_car:my_orders" %}">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url "auth:logout" %}">Log out</a>
        </li>
		{% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url "auth:registration_form" %}">Register</a>
        </li>
        <li class="nav-item">
			<a class="nav-link" href="{% url "auth:login_form" %}">Login</a>
        </li>
		{% endif %}
      </ul>
    </div>
  </div>
</nav>
